<div class="container col-md-6 offset-md-3 p-2 my-auto">
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="success"  class="alert alert-success mb-5"> eargeaeaga</div>



  <div class="card">
      <h4 class="card-header">Login</h4>
      <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                  <label class="form-label">Email:</label>
                  <input type="mail" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <span class="form-text text-danger ms-5" *ngIf="isValidEmail('email') && submitted">
                      * Enter a valid Email
                    </span>
                  </div>

                 <!--  <input
                  type="email"
                  class="modal-body form-control"
                  placeholder="Email Address"
                  formControlName="email"
                />

                <span class="form-text text-danger ms-5" *ngIf="isValidEmail('email') && submitted">
                * Enter a valid Email
              </span>
 -->

              </div>
              <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <span  class="form-text text-danger ms-5" *ngIf="f.password.errors.required">Password is required</span>
                  </div>
              </div>
              <div>
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                <button [disabled]="loading" class="btn btn-primary">
                      Login
                  </button>
                  <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
              </div>
          </form>
          <p>  Not a member yet? <a class="text-light" href="/account/register">Sign in!</a></p>
      </div>
  </div>
</div>
