* {
  background-color: rgba(38, 38, 38, 0.921);
  color: rgb(162, 200, 205);
}
/*
.card {

  box-shadow: 0 0 10px 5px #e0ce4858,
              0 0 20px 7px #ebecca,
              0 0 25px 20px #e2c32b42,
              0 0 30px 25px #4c3d06;

}
 */
