.containerCustom{
  display: flex;
  justify-content: center;
  height: 60vh;
  align-items: center;
}

section {
  border-radius: 1rem;
  height: inherit;
  margin: auto;
  padding: 10vh;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
