
<!-- <app-capo></app-capo> -->
<!-- <div class="text-center" *ngIf="!user  && !success">You need to be logged in to access</div> -->

<form class="container d-flex flex-column justify-content-center p-3" [formGroup]="capoForm2" (ngSubmit)="onSubmit()" *ngIf="!user || !success">


  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-6 contenant">
    <div class="containerOptions d-flex flex-column justify-content-center">

      <p class="text-center">Accordes originales:{{recupNew}}</p>
      <p class="text-center">Acordes transpuestos: {{songChords}}</p>
      <div class="containerButtons text-center">
        <button class="buttonsOptionsWeb btn btn-danger" (click)="updateCapoPosition(-1)"> -1 </button>
        <label class="form-check-label">
          En qué traste se pone la cejilla?
          <input matInput type="number" class="customInput form-control text-center w-25" style="appearance: textfield;"
            [(ngModel)]="numTrasteValue" required formControlName="numTraste" (change)="onSubmit()" #txtInput>
        </label>
        <button class="buttonsOptionsWeb btn btn-danger" (click)="updateCapoPosition(+1)"> +1 </button>

      </div>
<div class="container_select d-flex flex-column justify-content-center align-items-center p-3">
  <h4 class="text-center"> Introduce los acordes que quieres transponer</h4>

                <select class="customSelect js-states js-example-events form-control" multiple="multiple" id="containerSelectBox" style="width: 50px;">
                  <optgroup label="major">
                    <option	value="A">A</option>
                    <option	value="A#/Bb">A#</option>
                    <option	value="B">B</option>
                    <option	value="C">C</option>
                    <option	value="C#/Db">C#</option>
                    <option	value="D">D</option>
                    <option	value="D#/Eb">D#</option>
                    <option	value="E">E</option>
                    <option	value="F">F</option>
                    <option	value="F#/Gb">F#</option>
                    <option	value="G">G</option>
                    <option	value="G#/Ab">G#</option>
                    </optgroup>

                    <optgroup label="minor">
                      <option	value="Am">Am</option>
                      <option	value="A#m/Bbm">A#m</option>
                      <option	value="Bm">Bm</option>
                      <option	value="Cm">Cm</option>
                      <option	value="C#m/Dbm">C#m</option>
                      <option	value="Dm">Dm</option>
                      <option	value="D#m/Ebm">D#m</option>
                      <option	value="Em">Em</option>
                      <option	value="Fm">Fm</option>m
                      <option	value="F#m/Gbm">F#m</option>
                      <option	value="Gm">Gm</option>
                      <option	value="G#m/Abm">G#m</option>
                      </optgroup>

                </select>
</div>

</div>

  </div>
  </div>



