<div class="container text-center rounded-4 p-5 w-50 mb-5">
<h1>Welcome!</h1>
<p>
  Con la Capo Translater, puedes cambiar de tonalidad sin esfuerzo, experimentar con diferentes voicings de acordes y ampliar tu repertorio sin la molestia de los ajustes manuales.
  <br><br>
  Nuestra aplicación ofrece una solución digital al tradicional capo, permitiéndote transponer acordes sin la necesidad de ajustes físicos. Ya seas un guitarrista principiante o un músico experimentado, nuestra interfaz fácil de usar facilita explorar nuevas posibilidades musicales.

</div>


